.slots {
	font-size:100px;
	overflow-y:hidden;
    width: 75%;
	height:100px;
	border:1px solid black;
}

.slots .wrapper{
	margin-top:-6px;
	width:100px;
}

.slots .slot{
	width:100px;
	height:100px;
	text-align:center;
}
